h1, h2, p {
	font-family: 'Love Ya Like A Sister', cursive;
}

h1 {
	font-size: 4em;
	color: #FF8C00;
}

p {
	font-family: 'Bubbler One', sans-serif;
	font-size: 1.3em;
	text-align: justify;
}

body {
	background-image: url("cadre.png");
	background-position: center;
	background-attachment: fixed;
    animation-name: colorfade;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.label {
	animation-name: wobble;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes wobble {
	0% {transform: rotate(3deg)}
	50% {transform: rotate(-5deg); transform: translate(20px);}
	100% {transform: rotate(3deg)}
}
@keyframes colorfade {
    0%   {background-color:#40E0D0;}
    25%  {background-color:#40b5e0;}
    50%  {background-color:#40E0D0;}
    75%  {background-color:#26f5b5;}
    100% {background-color:#40E0D0;}
}

#page1 {
	animation-name: float1;
    animation-duration: 11s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#page2 {
	animation-name: float2;
    animation-duration: 11s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#page3 {
	animation-name: float3;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#page4 {
	animation-name: float4;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#page5 {
	animation-name: float5;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes float1 {
	0% {left:400px; right: 0px; bottom: 300px;}
	50% {left:380px; right: 0px;bottom: 320px; transform: rotate(10deg);}
	100% {left: 350px; right:0px;bottom: 280px;}
}

@keyframes float2 {
	0% {left:400px; right: 0px; top: 100px;}
	50% {left:360px; right: 0px; top: 100px; transform: rotate(10deg);}
	100% {left: 430px; right:0px; top: 120px;}
}

@keyframes float3 {
	0% {left:0px; right: 0px; bottom: 120px;}
	50% {left: 60px; right: 0px; bottom: 80px;transform: rotate(10deg);}
	100% {left: 0px; right:0px; bottom: 130px;}
}

@keyframes float4 {
	0% {left:80px; right: 0px; bottom: 150px;}
	50% {left:0px; right: 100px; bottom: 180px;}
	100% {left: 0px; right:80px; bottom: 150px; transform: rotate(10deg);}
}

@keyframes float5 {
	0% {left:30px; right: 0px; bottom:50px;}
	50% {left:0px; right: 10px; bottom:50px; transform: rotate(10deg)}
	100% {left: 80px; right:0px; bottom:50px;}
}

img {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-image: url("map2.png");
	background-position: left;
	height: 400px;
}

.cadre {
	display: inline-block;
}

.perse img, .turquie img, .egypte img, .amerindiens img, .inca img {
}

.pageperse {
	display: inline-block;
	width: 500px;
}

.textperse {
	display: inline-block;
    width: 500px;
    margin-left: 300px;
}

.pageturquie {
	display: inline-block;
	width: 500px;
}

.textturquie {
	display: inline-block;
    width: 500px;
    margin-left: 100px;
}

.pageegypte {
	display: inline-block;
	width: 500px;
}

.textegypte {
	display: inline-block;
    width: 500px;
    margin-right: 200px;
}

.pageamerindiens {
	display: inline-block;
	width: 500px;
}

.textamerindiens {
	display: inline-block;
    width: 600px;
    margin-left: 330px;
}

.pageinca {
	display: inline-block;
	width: 500px;
}

.textinca {
	display: inline-block;
    width: 600px;
    margin-left: 400px;
}

.perse {
	width: auto;
	margin-top: 160px;
	height: 720px;
	background-image: url("./1IRAN/fond.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
}

.turquie {
	width: 1920px;
	margin-top: 160px;
	height: 720px;
	background-image: url("./2TURQUIE/fond.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
}

.egypte {
	width: 1920px;
	margin-top: 160px;
	height: 720px;
	background-image: url("./3EGYPTE/fond.png");
	background-attachment: scroll;
	background-repeat: no-repeat;

}

.amerindiens {
	width: 1920px;
	margin-top: 160px;
	height: 720px;
	background-image: url("./4AMERIQUE/fond.png");
	background-attachment: scroll;
	background-repeat: no-repeat;


}

.inca {
	width: 1920px;
	margin-top: 160px;
	height: 720px;
	background-image: url("./5AMERIQUE S/fond.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
}